* { box-sizing: border-box;
	max-width: 100%; }

p {
	margin: 0;
}

/*Go back and remove some redundancy later with removing the margins on the other h1s*/
h1 {
	margin: 0;
}


header {
	width: 100%;
	display: inline-block;
	font-size: 10pt;
	text-decoration
	border-style: solid;
    border-bottom: medium solid black;	
}

#logo {
	float: left;
	width: 130px;
}

#name_and_title {
	float: right;
	width: 50%;
	text-align: right;
}

.personal_title {
	margin: 0;
}

#name {
	margin-top: 10px;
	width: 50%;
	text-align: right;
	display: inline-block;
}

.name {
	margin: 0;
	vertical-align: top;
}

#main_img {
	width: 100%;
	max-height: 300px;
}

.buttons_container {
	display: block;
	text-align: center;
}


.button {
  	margin-top: 5px;
  	padding: 10px;
}


.button_cv {
	width: 100%;
	height: 2.5em;
	border-radius: 10%;
	background-color: red;
	
}

.button_code {
	width: 100%;
	height: 2.5em;
	border-radius: 10%;
	background-color: green;
	
}

.button_about {
	width: 100%;
	height: 2.5em;
	border-radius: 10%;
	background-color: blue; 
	
}


.featured_work {
	font-size: 1em;
	width: 100%;

}

.featured_item {
	text-align: center;
	border: medium solid black;
	margin: 10px;
}

/*doesn't work*/
#featured_work_title {
	text-align: left;
}

.featured_image {
	height: auto;
	width: auto;
}

/*1st Break Point*/
@media only screen and (min-width: 600px) {
	
	header {
		font-size: 16pt;
	}

	#logo {
		width: 250px;
	}

	#name_and_title {
		margin-top: 20px;
		width: 55%;
	}

	.buttons_container {
		display: flex;

	}

	.featured_work {
		display: flex;

	}

	.featured_item {
		text-align: bottom;
		width: 33%;
	}

	.button {
		margin: 10px;
	}
}

/*2nd Break Point*/
@media only screen and (min-width: 720px) {

	image_and_button_container {
		
	}

}